*{
    color:black;
    font-size: 15px;
    box-sizing: border-box;
    font-family: Arial;
}

body {

    background-color: gold;
    padding: 20px;
    
}

img{
    margin: 0 15px 0 0 0;
    float: left;
}

header,
section,
footer {
    text-align: center;
    background-color: grey;
    border-radius: 30px;
    padding: 10px;
}

header, 
footer {
    width: 100%;
    padding: 30px;

}



h1 {
    margin: 0;
}

h3{
    float: left;
    margin: 5px 80px;
}

nav{
    float: right;
    margin: 5px 80px;
}

section {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: calc(66%-10px);
    
}


section article,
section footer {
    width: 100%;
    background-color:pink;
    border-radius: 15px;
    padding: 50px;
}

section article {
    margin: 40px 0;
}

header {
    border-bottom: 4px solid blue;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 5px;
    border-radius: 0;

}

footer {
    clear: both;
    border-top: 8px solid teal;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    border-radius: 0;
}

.form {
    background-color:pink;
}

input[type=text] {
    text: center;
    width: 33%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  #portfolio{
      padding: 10px;
      margin: 40px 5px;
    
  }

  #one {
      float: left;
      width: 40%;
      background: yellow;
      padding: 50px;
      margin: 10px 10px;
  }

  #two {
    float: left;
      width: 40%;
      background: yellow;
      padding: 50px;
      margin: 10px 10px;
}

#three {
    float: left;
      width: 40%;
      background: yellow;
      padding: 50px;
      margin: 10px 10px;
}

#four {
    float: left;
      width: 40%;
      background: yellow;
      padding: 50px;
      margin: 10px 10px;
}

#five {
    float: left;
      width: 40%;
      background: yellow;
      padding: 50px;
      margin: 10px 10px;
}

