*{
    color:black;
}

body {
    margin: 0;
}

nav {
    padding: 10px 0 10px 0;
    text-align: right;
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
    background-color: #FFFFFF;
    border-bottom: 1px solid;
}

footer {
    padding: 20px;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    width: 100vw;
    margin-top: 50px;
    border-top: solid 1px;
    background-color: #FFFFFF;

}

/*
h3 a {
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    margin: 0 2px;
    border: 2px solid;
    border-radius: 40px;
    background-color: whitesmoke;
}
*/

h3 a {
    text-decoration: none;
    padding: 5px 20px 5px 20px;
}

body {
    /*
    background-color: #e4e1d7;*/
    
}

h1 {
    font-size: 30px;
    font-family: 'Mulish', sans-serif;
}

h2 {
    font-size: 20px;
    text-align: center;
}

h3 {
    font-size: 22px;
    margin: 0;
}

h4 {
    font-size: 18px;
    
}

h5 {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    margin: 0;
}

h6 {
    font-size: 14px;
    margin: 0;
}

p {
    font-family: 'Mulish', sans-serif;
}

img {
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.container {
    padding: 20px 10vw;
}

/*
nav {
    padding: 10px 0 10px 0;
    text-align: right;
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
}
*/

.intro {
    margin-bottom: 40px;
}


.studyintro {
    padding: 12px;
    border-radius: 35px;
    text-align: center;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    border: solid 1px;
    margin-bottom: 40px;
}

.tile-component {
    margin-top: 22px;
    border: 3px solid;
}

.tile {
    font-family: 'Mulish', sans-serif;
}


.project-type{
    font-family: 'Bebas Neue', sans-serif;
    padding: 6px 20px 1px 20px;
    border-bottom: solid 1px;
    background-color: #EFE193;

}

/*
.project-type{
    padding: 6px 20px 3px 20px;
    border-radius: 10px 10px 0 0;
    width: fit-content;
    border: 3px solid;
    border-bottom: none;
    font-family: 'Bebas Neue', sans-serif;
}
*/

.project-tile{
    padding: 6px 20px 3px 20px;
    border-radius: 10px 10px 0 0;
    width: fit-content;
    border: 2px solid;
    border-bottom: none;
    font-family: 'Bebas Neue', sans-serif;
}

.project1{
    font-size: 30px;
    background-color: #EFE193;
    
}

.description {
    margin: 10px;
    padding: 10px 20px;
}
/*
.ux {
    background-color: #f79ead;
}

.data {
    background-color: #f6df5f;
}

.etc {
    background-color: #72e7cc;
}*/



.tile-title {
    padding: 20px 20px 0 20px;
    font-weight: 700;
    font-size: 30px;
}

.tile-subtitle {
    padding: 0 20px;
    font-size: 15px;
    font-style: italic;
}

.column {
    float: left;
    width: 50%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.column-container {
    margin-bottom: 10px;
    padding: 10px 20px;
}

.lcolumn-container {
    padding: 0 10px 0 0;
}

.rcolumn-container {
    padding: 0 0 0 10px;
}


@media screen and (max-width: 500px) {
    body {
    }

    nav {
        padding: 0 3vw;
        font-size: 15px;
    }

    nav >h3 {
        padding: 5vw 0vw 0vw;
        font-size: 15px;
    }

    .column {
        width: 100%;
    }



    .container {
        padding: 20px 1vw;
    }
    
  }
  